<h1>Listing votings</h1>

<table>
  <tr>
  </tr>

<% @votings.each do |voting| %>
  <tr>
    <td><%= link_to 'Show', voting %></td>
    <td><%= link_to 'Edit', edit_voting_path(voting) %></td>
    <td><%= link_to 'Destroy', voting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New voting', new_voting_path %>