<h1>Zoznam hlasovaní</h1>

<table>
  <% i = 0 %>
  <tr>
    <th class="first">Dátum</th>
    <th>Názov</th>
  </tr>

<% @votings.each do |voting| %>
  <tr <%= i%2 == 0 ? ' class="row-a"' : 'class="row-b"' %>>
    <td class="first"><%= voting.happened_at %></td>
    <td><%= voting.subject %></td>
    <td><%= link_to 'Info', voting %></td>
  </tr>
  <% i += 1 %>
<% end %>
</table>