<h1>Listing deputies</h1>

<table>
  <tr>
  </tr>

<% @deputies.each do |deputy| %>
  <tr>
    <td><%= link_to 'Show', deputy %></td>
    <td><%= link_to 'Edit', edit_deputy_path(deputy) %></td>
    <td><%= link_to 'Destroy', deputy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New deputy', new_deputy_path %>