<h1>Zoznam návrhov zákonov</h1>

<table>
  <% i = 0 %>
  <tr>
    <th class="first">Typ</th>
    <th>Názov</th>
  </tr>

<% @statutes.each do |statute| %>
  <tr <%= i%2 == 0 ? ' class="row-a"' : 'class="row-b"' %>>
    <td class="first"><%= statute.statute_type %></td>
    <td><%= statute.subject %></td>
    <td><%= link_to 'Info', statute %></td>
  </tr>
  <% i += 1 %>
<% end %>
</table>