<h1>Listing statutes</h1>

<table>
  <tr>
  </tr>

<% @statutes.each do |statute| %>
  <tr>
    <td><%= link_to 'Show', statute %></td>
    <td><%= link_to 'Edit', edit_statute_path(statute) %></td>
    <td><%= link_to 'Destroy', statute, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New statute', new_statute_path %>