<div id="help-message" style="display:none;">
<div class="help">
  <h3>Graf zhody s poslancami</h3>
  <p>Zobrazuje porovnanie Vašich hlasovaní s tým, ako hlasovali poslanci.<br />Graf poskytuje tieto možnosti:</p>
  <ul>
    <li><b>Zobrazenie poslanca v novom okne.</b> Kliknutím na meno poslanca sa zobrazí stránka o danom poslancovi</li>
    <li class="justify"><b>Zobrazenie poslanca v aktuálnom okne.</b> Klinutím na stĺpec prislúchajúci k poslancovi sa v malom okne zobrazia jeho stručné informácie. V tomto okne môžete kliknutím na "Porovanie hlasovaní s poslancom" získať podrobné porovnanie vašich hlasovaní. Okno sa zatvorí kliknutím na biele miesto v grafe.</li>
    <li class="justify"><b>Vyhľadanie poslanca v grafe.</b> Vybratím poslanca z ponuky, ktorá sa nachádza nad grafom.</li>
  </ul>
</div>
</div>

<% if @datasets.nil? %>
<p class="flash error">
Aby ste videli vašu zhodu musíte najskôr zahlasovať
</p>
<% else %>

<div class="post" style="clear:both;">
<h1>Graf zhody s poslancami</h1>
<form>
<!--<label>Zobraz strany</label>-->
<!--<span id="choices"></span><br />-->
<label for="deputies">Najdi Poslanca</label>
<select id="deputies" name="select"></select>
</form>

<div id="overviewLegend" style="margin-left:10px"></div>

   <div id="placeholder" style="width:530px;height:400px;margin-bottom:15px;float:left"></div>
    <div id="overview" style="margin-top:14px;width:120px;height:372px;float:left"></div>
<div style="clear:both;"></div>
</div>

    
<div class="post" style="clear:both;">
<h1>Moja zhoda zo stranami</h1>

<div id="party2" style="width:545px;height:250px;margin-bottom:15px;float:left"></div>

</div>

<%= render :partial => "layouts/graph", :locals => {:datasets => @datasets, :site_root => @site_root} %>

<% end %>    