<div class="post">
    <h1>Návod</h1>
    <h3>Použitie stránky</h3>
    <p class="justify">V menu "Návrhy zákonov" sa vyberte zákon alebo novelu zákona, ktorá vás zaujala. Následne sa zobrazia jednotlivé hlasovania ktoré sú spojené s daným zákonom. Vyberte si hlasovanie a môžete hlasovať. Na to aby ste mohli hlasovať musíte byť prihlásený.</p>
    <p>Prihlásiť sa dá nasledovným spôsobom:</p>
        <ul>
          <li><%= link_to 'Vytvorením nového účtu', new_account_path, :id => "link" %></li>
          <li><%= link_to 'Prihlásením sa ako Hosť', account_path(:type => "guest"), :method => :post, :id => "link" %></li>
        </ul>
    <p >Svoje porovnanie s poslancami môžete vidieť kliknutím na menu "Porovnanie hlasovaní"</p>
</div>