	<div id="header"><div id="header-content">

		<h1 id="logo"><a href="index.html" title="">moja<span class="gray">Voľba</span></a></h1>
		<h2 id="slogan">Vyskusajte na chvilu rozhodovat...</h2>

		<!-- Menu Tabs -->
		<ul>
			<li><a href="index.html" id="current">Home</a></li>
			<li><a href="index.html">News</a></li>
			<li><a href="index.html">Downloads</a></li>
			<li><a href="index.html">Support</a></li>
			<li><a href="index.html">About</a></li>
		</ul>


	</div>
 </div>