<div id="sidebar" >

    <div class="sidebox">

        <h1 class="clear">Sidebar Menu</h1>
        <ul class="sidemenu">
            <li><a href="/pages/home" class="top">Domov</a></li>
            <li><%= link_to "Poslanci", deputies_url%></li>
            <li><%= link_to "Návrhy zákonov", statutes_url%></li>
            <li><%= link_to "Hlasovania", votings_url%></li>
            <li><a href="http://www.styleshout.com/">More Templates</a></li>
            <li><a href="http://www.dreamtemplate.com" title="Web Templates">Web Templates</a></li>
        </ul>

    </div>
</div>    